.features-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 50px 20px;
    background-color: #f8f8f8;
  }
  
  .feature {
    max-width: 300px;
    padding: 20px;
  }
  
  .feature-icon {
    font-size: 70px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 15px;
  }
  .aa{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .action-buttons {
  margin-top:-10px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.buy-btn {
  background: linear-gradient(135deg, #007bff, #3399ff);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius:90px;
  font-weight:900px;
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
  transition: all 0.3s ease;
  width:100px;
  font-size:100px;
}

.buy-btn:hover {
  background: linear-gradient(135deg, #006ae6, #2e8eff);
  box-shadow: 0 6px 14px rgba(0, 123, 255, 0.5);
  transform: translateY(-2px);
}

.rent-btn {
  background: linear-gradient(135deg, #dc3545, #ff4d4d);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(220, 53, 69, 0.3);
  transition: all 0.3s ease;
  width:100px;
}

.rent-btn:hover {
  background: linear-gradient(135deg, #c82333, #ff3333);
  box-shadow: 0 6px 14px rgba(220, 53, 69, 0.5);
  transform: translateY(-2px);
}
.search-container {
  display: flex;
  max-width: 700px;
  margin: 15px ;
  border-radius: 8px;
  box-shadow:  rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
 

}
.dropdown-box select {
  border:none;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  border-right: 1px solid #ddd;
  min-width: 120px;
  height:60px;

}
.search-btn{
  border:none;
  padding: 16px 20px;
  font-size: 16px;
  font-weight: 600;
  background-color:#ff3333;
  color:white;
  border-right: 1px solid #ddd;
  min-width: 120px;
}
.overlay{
  position:absolute;
   top: 300px;
  left: 300px;
  
}