.body {
    background-color: #F2F2F2;
}

.btn-check {
    width: 100px;
}

.form-check-input:hover {
    outline: 1px solid black;
    cursor: pointer;
    transition: outline 0.1s ease;
}

.gg {
    display: flex;
}


/* .c {
   
} */



.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0px;
}