.menu-toggle {
  outline: none;
  box-shadow: none;
  border: none;
  background-color: white;
  margin-top: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.menu-toggle {
  background-color: #444;
  color: gray;
  font-size: 24px;
  padding: 1px;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: white;
  margin-top: 20px;

}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  min-width: 160px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  color: gray
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;

}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}


.dropdown:hover .dropdown-menu {
  display: block;
}

.H {
  display: flex;
  gap: 10px;
  color: 'GrayText';
  margin-top: 10px;
  color: grey;
  margin-left:680px;
}
.x{
  margin-top: 5px;
  margin-bottom: 10px;
  align-items: center;
}
.ww{
  align-items: center;
}

.btn {
  transition: all 0.3s ease;
}

.btn-outline-danger:hover {
  background-color: #FF4F5A;
  color: white;
}

.btn-outline-dark:hover {
  background-color: #333;
  color: white;
}


.me-auto{
  margin-left: 90px;
}

.btn-danger {
  background-color: #FF4F5A;
  border-color: #FF4F5A;
}
.btn-group {
  gap: 10px;
}


.dropdown-menu {
  width:150px;
}
.small-menu {
  width:50px !important;
  white-space: normal;
}
